In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import datetime as dt
import warnings
warnings.filterwarnings('ignore')

In [2]:
wm= pd.read_csv(r'H:\machine  learning internship\verzeo\Womens_Clothing_E_Commerce_Reviews.csv');
wm.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [3]:
wm.drop(['Unnamed: 0','Clothing ID'],axis=1,inplace=True)
wm.head()

,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [4]:
wm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      23486 non-null  int64
 1   Title                    19676 non-null  object
 2   Review Text              22641 non-null  object
 3   Rating                   23486 non-null  int64
 4   Recommended IND          23486 non-null  int64
 5   Positive Feedback Count  23486 non-null  int64
 6   Division Name            23472 non-null  object
 7   Department Name          23472 non-null  object
 8   Class Name               23472 non-null  object
dtypes: int64(4), object(5)
memory usage: 1.6+ MB

In [5]:
wm['Rating'].unique()

array([4, 5, 3, 2, 1], dtype=int64)

In [6]:
wm['Category']='Good'
wm.loc[wm['Rating']<=3,['Category']]='Bad'
wm.head()

,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,Category
0,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates,Good
1,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses,Good
2,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,Bad
3,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants,Good
4,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses,Good

In [7]:
wm1=wm.copy()
wm1=wm1.dropna(subset=['Review Text'])
wm1.head()

,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,Category
0,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates,Good
1,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses,Good
2,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,Bad
3,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants,Good
4,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses,Good

In [8]:
wm1.shape

(22641, 10)

In [9]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [10]:
from bs4 import BeautifulSoup as bs
import string
from nltk.corpus import stopwords 
from nltk.stem import WordNetLemmatizer as wnl
from nltk.tokenize import RegexpTokenizer as ret
from nltk.stem.porter import PorterStemmer as ps

def rem_punc(text) :
    puncless="".join([c for c in text not in string.punctuation])
    return puncless
wm1['Review Text']=wm1['Review Text'].apply(lambda x : rem_punc())
wm1['Review Text'].head(20)

In [11]:
# Remove punctuatuions and lower words.
tokenizer = ret(r'\w+')
wm1['Review Text']= wm1['Review Text'].apply(lambda x : tokenizer.tokenize(x.lower()))
wm1['Review Text'].head(10)

0    [absolutely, wonderful, silky, and, sexy, and,...
1    [love, this, dress, it, s, sooo, pretty, i, ha...
2    [i, had, such, high, hopes, for, this, dress, ...
3    [i, love, love, love, this, jumpsuit, it, s, f...
4    [this, shirt, is, very, flattering, to, all, d...
5    [i, love, tracy, reese, dresses, but, this, on...
6    [i, aded, this, in, my, basket, at, hte, last,...
7    [i, ordered, this, in, carbon, for, store, pic...
8    [i, love, this, dress, i, usually, get, an, xs...
9    [i, m, 5, 5, and, 125, lbs, i, ordered, the, s...
Name: Review Text, dtype: object

In [12]:
#remove stopwords
def rem_stopwords(text) :
    word=[w for w in text if w not in stopwords.words('english')]
    return word
wm1['Review Text']= wm1['Review Text'].apply(lambda x : rem_stopwords(x))
wm1['Review Text'].head(10)

0    [absolutely, wonderful, silky, sexy, comfortable]
1    [love, dress, sooo, pretty, happened, find, st...
2    [high, hopes, dress, really, wanted, work, ini...
3    [love, love, love, jumpsuit, fun, flirty, fabu...
4    [shirt, flattering, due, adjustable, front, ti...
5    [love, tracy, reese, dresses, one, petite, 5, ...
6    [aded, basket, hte, last, mintue, see, would, ...
7    [ordered, carbon, store, pick, ton, stuff, alw...
8    [love, dress, usually, get, xs, runs, little, ...
9    [5, 5, 125, lbs, ordered, petite, make, sure, ...
Name: Review Text, dtype: object

In [13]:
lemmatizer=wnl()
def lemm(text) : 
    lt=[lemmatizer.lemmatize(i) for i in text]
    return lt
wm1['Review Text']=wm1['Review Text'].apply(lambda x : lemm(x))
wm1['Review Text'].head(10)

0    [absolutely, wonderful, silky, sexy, comfortable]
1    [love, dress, sooo, pretty, happened, find, st...
2    [high, hope, dress, really, wanted, work, init...
3    [love, love, love, jumpsuit, fun, flirty, fabu...
4    [shirt, flattering, due, adjustable, front, ti...
5    [love, tracy, reese, dress, one, petite, 5, fo...
6    [aded, basket, hte, last, mintue, see, would, ...
7    [ordered, carbon, store, pick, ton, stuff, alw...
8    [love, dress, usually, get, x, run, little, sn...
9    [5, 5, 125, lb, ordered, petite, make, sure, l...
Name: Review Text, dtype: object

In [14]:
# Remove numbers
def rem_digit(text) :
    output = ' '.join(c for c in text if not c.isdigit())
    return output
wm1['Review Text']=wm1['Review Text'].apply(lambda x : rem_digit(x))
wm1['Review Text'].head(10)

0          absolutely wonderful silky sexy comfortable
1    love dress sooo pretty happened find store gla...
2    high hope dress really wanted work initially o...
3    love love love jumpsuit fun flirty fabulous ev...
4    shirt flattering due adjustable front tie perf...
5    love tracy reese dress one petite foot tall us...
6    aded basket hte last mintue see would look lik...
7    ordered carbon store pick ton stuff always try...
8    love dress usually get x run little snug bust ...
9    lb ordered petite make sure length long typica...
Name: Review Text, dtype: object

In [15]:
wmc=wm1.copy()
wmc.head(10)

,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,Category
0,33,NaN,absolutely wonderful silky sexy comfortable,4,1,0,Initmates,Intimate,Intimates,Good
1,34,NaN,love dress sooo pretty happened find store gla...,5,1,4,General,Dresses,Dresses,Good
2,60,Some major design flaws,high hope dress really wanted work initially o...,3,0,0,General,Dresses,Dresses,Bad
3,50,My favorite buy!,love love love jumpsuit fun flirty fabulous ev...,5,1,0,General Petite,Bottoms,Pants,Good
4,47,Flattering shirt,shirt flattering due adjustable front tie perf...,5,1,6,General,Tops,Blouses,Good
5,49,Not for the very petite,love tracy reese dress one petite foot tall us...,2,0,4,General,Dresses,Dresses,Bad
6,39,Cagrcoal shimmer fun,aded basket hte last mintue see would look lik...,5,1,1,General Petite,Tops,Knits,Good
7,39,"Shimmer, surprisingly goes with lots",ordered carbon store pick ton stuff always try...,4,1,4,General Petite,Tops,Knits,Good
8,24,Flattering,love dress usually get x run little snug bust ...,5,1,0,General,Dresses,Dresses,Good
9,34,Such a fun dress!,lb ordered petite make sure length long typica...,5,1,0,General,Dresses,Dresses,Good

In [23]:
#tfidf vectoriziation output (a,b) c = a:=no of reviews, b:=word vector index c:= value of tfidf
from sklearn.feature_extraction.text import TfidfVectorizer as tfidfv
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
tfidf = tfidfv(max_features=1000,ngram_range=(1,2),analyzer='word')
wmct= tfidf.fit_transform(wmc['Review Text'])
print(wmct)

  (0, 142)	0.26908313656134575
  (0, 732)	0.5029911966336686
  (0, 750)	0.54868250035246
  (0, 970)	0.4745023713096423
  (0, 5)	0.3852131035619599
  (1, 981)	0.27333153893955603
  (1, 574)	0.27188532537085425
  (1, 482)	0.1935659558406915
  (1, 895)	0.25798723601892776
  (1, 793)	0.2209600514554285
  (1, 893)	0.1581520382507169
  (1, 175)	0.16962361159609837
  (1, 412)	0.1987925097593128
  (1, 454)	0.12816247011091328
  (1, 374)	0.18820969187969883
  (1, 434)	0.1415752945659893
  (1, 88)	0.13719121872988851
  (1, 607)	0.45415871593228846
  (1, 563)	0.16303769448628985
  (1, 571)	0.12583028749526146
  (1, 980)	0.23150960421437008
  (1, 540)	0.2188998552507152
  (1, 324)	0.20234408994766295
  (1, 813)	0.15168142361541673
  (1, 270)	0.1849229258503305
  :	:
  (22639, 72)	0.13832397910273486
  (22639, 442)	0.09088816920578764
  (22639, 462)	0.12820638528231734
  (22639, 600)	0.11192746652756819
  (22639, 318)	0.13480653396204106
  (22639, 275)	0.15381870774570205
  (22639, 514)	0.1338692523536206
  (22639, 153)	0.13675228756872687
  (22639, 306)	0.1631335884249731
  (22639, 934)	0.15833140200818308
  (22639, 88)	0.1210260745599278
  (22639, 194)	0.17548388895818162
  (22640, 372)	0.34130539500691254
  (22640, 371)	0.33228070599046244
  (22640, 212)	0.38303269580269095
  (22640, 211)	0.29796163409976373
  (22640, 673)	0.2734268058409596
  (22640, 491)	0.27277231119760104
  (22640, 144)	0.28550981765665145
  (22640, 284)	0.26934512457455456
  (22640, 604)	0.25273419164773075
  (22640, 267)	0.3233528493450737
  (22640, 943)	0.15950321557953748
  (22640, 275)	0.13265750478335134
  (22640, 194)	0.15134215584073865

In [25]:
#bag of words

bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
wmcb = bow.fit_transform(wmc['Review Text'])
print(wmcb)

  (0, 9)	1
  (0, 973)	1
  (0, 743)	1
  (0, 721)	1
  (0, 167)	1
  (1, 480)	2
  (1, 237)	1
  (1, 636)	1
  (1, 303)	1
  (1, 798)	1
  (1, 347)	1
  (1, 69)	2
  (1, 537)	1
  (1, 983)	2
  (1, 569)	1
  (1, 562)	1
  (1, 605)	3
  (1, 100)	1
  (1, 454)	1
  (1, 384)	1
  (1, 468)	1
  (1, 431)	1
  (1, 213)	1
  (1, 893)	1
  (1, 775)	1
  :	:
  (22639, 475)	1
  (22639, 740)	1
  (22639, 202)	1
  (22639, 521)	1
  (22639, 298)	1
  (22639, 982)	1
  (22639, 733)	1
  (22639, 505)	1
  (22639, 818)	1
  (22639, 834)	1
  (22639, 913)	1
  (22639, 836)	1
  (22639, 546)	1
  (22639, 952)	1
  (22639, 513)	1
  (22640, 237)	1
  (22640, 307)	1
  (22640, 948)	1
  (22640, 299)	1
  (22640, 602)	1
  (22640, 169)	1
  (22640, 482)	1
  (22640, 667)	1
  (22640, 245)	1
  (22640, 382)	1

In [28]:
#Sentiment values for our model data.
from textblob import TextBlob as tb
wmc['p/n review index']=wmc['Review Text'].apply(lambda x : tb(x).sentiment[0])
wmc.head(10)
#it might have some inconsistenchy in data
#stars may not match with reviews
#so bad category has good reviews
#the p/n is towards -1 then very bad while 1 is very good
# 0 is neutral
# remember it is not according to stars,it is according to the reviews.

,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,Category,p/n review index
0,33,NaN,absolutely wonderful silky sexy comfortable,4,1,0,Initmates,Intimate,Intimates,Good,0.633333
1,34,NaN,love dress sooo pretty happened find store gla...,5,1,4,General,Dresses,Dresses,Good,0.318750
2,60,Some major design flaws,high hope dress really wanted work initially o...,3,0,0,General,Dresses,Dresses,Bad,0.082300
3,50,My favorite buy!,love love love jumpsuit fun flirty fabulous ev...,5,1,0,General Petite,Bottoms,Pants,Good,0.500000
4,47,Flattering shirt,shirt flattering due adjustable front tie perf...,5,1,6,General,Tops,Blouses,Good,0.458333
5,49,Not for the very petite,love tracy reese dress one petite foot tall us...,2,0,4,General,Dresses,Dresses,Bad,0.150000
6,39,Cagrcoal shimmer fun,aded basket hte last mintue see would look lik...,5,1,1,General Petite,Tops,Knits,Good,0.075625
7,39,"Shimmer, surprisingly goes with lots",ordered carbon store pick ton stuff always try...,4,1,4,General Petite,Tops,Knits,Good,0.196154
8,24,Flattering,love dress usually get x run little snug bust ...,5,1,0,General,Dresses,Dresses,Good,-0.046875
9,34,Such a fun dress!,lb ordered petite make sure length long typica...,5,1,0,General,Dresses,Dresses,Good,0.250476